/* HEADER STYLES */

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e6e3e3;
    color: #000000;
    line-height: 1.6;
}

/* container styles */
.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

/* HEADER STYLES */
header {
    background: linear-gradient(135deg, #6e6e70, #d4d4d4);
    color: rgb(233, 225, 225);
    text-align: center;
    padding: 30px 20px;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

header p {
    margin: 10px 0 0;
    font-size: 1.2rem;
    opacity: 0.9;
}

section {
    background-color: #bdbcbe;
    margin: 20px 0;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0, 0.05);
}

h2{
    color: #0c0b0c;
    border-bottom: 2px 0;
    margin-top: 0;
}
/* Quotes styles */
.quotes {
    background-color: #939196;
    border-left: 5px solid #737374;
    padding: 15px 20px;
    font-style: italic;
    font-size: 1.2rem;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
th,td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #000000;
}

th {
    background-color: #7c7b7e;
    color: black;
}

tr { 
    background-color: #918f91;
}
/* FOOTER STYLES */
footer {
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    color: #777;
    border-top: 5px solid #ddd;
}